/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Colors
---------------------------------------------------*/
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }

.img-place-holder{
    background-color: #EDEAE0;
    height: 31.25rem;
}
  
.curacao{
    height: 20rem;
}
.canvas{
    height: 31.25rem;
    background-color: #0073cf;
}
.bg-primary-color {
    background-color: #343434;
}
.bg-secondary-color {
    background-color:#EDEAE0;
    color: #343434;
}
.text-color {
    font-size: 24px;
    color: #EDEAE0;
}
.border-color-sides{
    border-left:  #EDEAE0 0.5rem double;
    border-right: #EDEAE0 0.5rem double;
}
.border-color-bottom{
    border-bottom:  #EDEAE0 0.5rem double;
}

.link{
    width: 117px;
    min-height: 69px;
    font-size: 2rem;
}
.icons{
    font-size: 2rem;
    width: 24px;
    min-height: 38px;
}
.btn-color{
    color: white;
}
.btn-border{
    border: solid white 1px;
}

.btn-border:hover{
    border: solid #727272 1px !important;
}

.btn-color:hover{
    color: #727272 !important;
}

#c-sharp-icon{
    min-height: 24px;
    width: 48px;
    fill: white;
    animation: icon-color-switch 2s;
}
/* Div css
---------------------------------------------------*/
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .empty-row{
    min-height: 48px;
  }
  .empty-col{
    min-width: 48px;
    min-height: 48px;
  }
  .empty-xl-col{
    width: 380px;
}
/* Animations
---------------------------------------------------*/
@keyframes border-text-color-switch{
    0%{
        border: solid #002b7f 1px;color: #002b7f;
    }
    50%{
        border: solid  #0adfed 1px;color: #0adfed;
    }
    100%{
        border: solid white 1px;color: white;
    }
}
@keyframes border-color-switch{
    0%{
        border: solid #002b7f 1px;
    }
    50%{
        border: solid  #0adfed 1px;
    }
    100%{
        border: solid white 1px;
    }
}
@keyframes bg-color-switch {
    0% {
        background-color:#002b7f;
    }

    100% {
        background-color: #0adfed;
    }
}
@keyframes text-color-switch {
    0% {
        color: #002b7f;
    }
    50% {
        color: #0adfed;
    }
    100% {
        color: white;
    }
}
@keyframes icon-color-switch{
    0% {
        fill: #002b7f;
    }
    50% {
        fill: #0adfed;
    }
    100% {
        fill: white;
    }
}
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffff00, 0 0 40px #ffff00, 0 0 50px #ffff00, 0 0 60px #ffff00, 0 0 70px #ffff00;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #FFFF99, 0 0 40px #FFFF99, 0 0 50px #FFFF99, 0 0 60px #FFFF99, 0 0 70px #FFFF99, 0 0 80px#FFFF99;
    }
  }
/* Positioning
---------------------------------------------------*/
.text-bottom{
    margin-bottom: .5rem;
}

