/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Colors
---------------------------------------------------*/

.bg-primary-color {
    background-color: #00395e;
    color: #00395e;
    animation: bg-color-switch reverse 2s;
}

.bg-secondary-color {
    background-color: #107895;
    color: white;
    animation: bg-color-switch 2s;
}
.text-color {
    color: white;
    animation: text-color-switch 4s;
}

.link{
    width: 117px;
    height: 69px;
    font-size: 2rem;
}
.icons{
    font-size: 2rem;
    width: 24px;
    height: 38px;
}
.btn-color{
    color: white;
    animation: text-color-switch 4s;
}

.btn-color:hover{
    color: #00395e !important;
}

#c-sharp-icon{
    height: 24px;
    width: 48px;
    fill: white;
    animation: icon-color-switch 4s;
}
/* Div css
---------------------------------------------------*/
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .empty-row{
    min-height: 48px;
  }
  .empty-col{
    min-width: 48px;
    min-height: 48px;
  }
  .empty-xl-col{
    width: 380px;
}
/* Animations
---------------------------------------------------*/

@keyframes bg-color-switch {
    0% {
        background-color:#00395e;
    }

    100% {
        background-color: #107895;
    }
}
@keyframes text-color-switch {
    0% {
        color: #00395e;
    }
    50% {
        color: #107895;
    }
    100% {
        color: white;
    }
}
@keyframes icon-color-switch{
    0% {
        fill: #00395e;
    }
    50% {
        fill: #107895;
    }
    100% {
        fill: white;
    }
}
/* Positioning
---------------------------------------------------*/
.text-bottom{
    margin-bottom: .5rem;
}